body {
	font-family: "Poppins", sans-serif;
	text-align: center;
}

.timers {
	padding-left: 45%;
}

.title {
	font-size: 5rem;
	margin: 7rem 7rem;
	text-align: center;
}

#countdown {
	font-size: 5rem;
}
